@import "tailwindcss";

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 0px #fff);
  }
  50% {
    filter: drop-shadow(0 0 8px #fff);
  }
}

.glow {
  animation: glow 2.5s ease-in-out infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}


